body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
}

#display {
    width: 150px;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}


/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#display {
    width: 150px;
    font-size: 24px;
    margin-right: 10px; /* Add margin between input and button */
/* }

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}  */
